-------------------------------------------------
CREATE OR ALTER PROCEDURE ContactGetAllWithKeysetPagination
   @PageSize           AS INT             = 0       -- <= 0 means return all records (no pagination)
  ,@OrderByColumn      AS NVARCHAR(50)    = 'ID'    -- Allowed: ID, FirstName, LastName, Email, Company, Title
  ,@SortDirection      AS CHAR(4)         = 'DESC'  -- 'ASC' or 'DESC'
  ,@LastID             AS INT             = NULL    -- Anchor ID from previous page (NULL = first page)
  ,@LastOrderValue     AS SQL_VARIANT     = NULL    -- Anchor value of the sorted column from previous page

   -- OUTPUT parameters for next page
  ,@NextLastID         AS INT         OUTPUT
  ,@NextLastOrderValue AS SQL_VARIANT OUTPUT
  ,@HasMoreRows        AS BIT         OUTPUT
AS
BEGIN
  SET NOCOUNT ON;

  -- Normalize and validate inputs
  IF @SortDirection NOT IN ('ASC', 'DESC')
    SET @SortDirection = 'DESC';

  IF @OrderByColumn NOT IN ('ID', 'FirstName', 'LastName', 'Email', 'Company', 'Title')
    SET @OrderByColumn = 'ID';

  DECLARE @ApplyPagination BIT = CASE WHEN @PageSize > 0 THEN 1 ELSE 0 END;

  -- Initialize OUTPUT parameters
  SET @NextLastID         = NULL;
  SET @NextLastOrderValue = NULL;
  SET @HasMoreRows        = 0;

  -- Table variable to hold results with ordering info
  DECLARE @Results TABLE (
     ID          INT
    ,FirstName   VARCHAR(50)
    ,LastName    VARCHAR(50)
    ,Email       VARCHAR(50)
    ,Company     VARCHAR(50)
    ,Title       VARCHAR(50)
    ,OrderValue  SQL_VARIANT
    ,RowNum      INT IDENTITY(1,1));  -- To preserve insertion order

  -- Insert the filtered/paginated data
  INSERT INTO @Results (ID, FirstName, LastName, Email, Company, Title, OrderValue)
  SELECT 
     C.ID
    ,C.FirstName
    ,C.LastName
    ,C.Email
    ,C.Company
    ,C.Title
    ,CASE @OrderByColumn
          WHEN 'ID'        THEN CAST(C.ID        AS SQL_VARIANT)
          WHEN 'FirstName' THEN CAST(C.FirstName AS SQL_VARIANT)
          WHEN 'LastName'  THEN CAST(C.LastName  AS SQL_VARIANT)
          WHEN 'Email'     THEN CAST(C.Email     AS SQL_VARIANT)
          WHEN 'Company'   THEN CAST(C.Company   AS SQL_VARIANT)
          WHEN 'Title'     THEN CAST(C.Title     AS SQL_VARIANT)
      END AS OrderValue
  FROM
    dbo.Contact AS C
  WHERE
    @ApplyPagination = 0  -- No pagination: return everything
    OR (@LastID IS NULL) -- First page
    OR ( -- Keyset condition: continue from previous anchor  
        ( -- Primary sort column comparison
         ( @SortDirection = 'DESC' AND
           CAST(@LastOrderValue AS SQL_VARIANT) > CASE @OrderByColumn
                                                    WHEN 'ID'        THEN CAST(c.ID        AS SQL_VARIANT)
                                                    WHEN 'FirstName' THEN CAST(c.FirstName AS SQL_VARIANT)
                                                    WHEN 'LastName'  THEN CAST(c.LastName  AS SQL_VARIANT)
                                                    WHEN 'Email'     THEN CAST(c.Email     AS SQL_VARIANT)
                                                    WHEN 'Company'   THEN CAST(c.Company   AS SQL_VARIANT)
                                                    WHEN 'Title'     THEN CAST(c.Title     AS SQL_VARIANT)
                                                  END )
         OR
         ( @SortDirection = 'ASC' AND 
           CAST(@LastOrderValue AS SQL_VARIANT) < CASE @OrderByColumn
                                                      WHEN 'ID'        THEN CAST(c.ID        AS SQL_VARIANT)
                                                      WHEN 'FirstName' THEN CAST(c.FirstName AS SQL_VARIANT)
                                                      WHEN 'LastName'  THEN CAST(c.LastName  AS SQL_VARIANT)
                                                      WHEN 'Email'     THEN CAST(c.Email     AS SQL_VARIANT)
                                                      WHEN 'Company'   THEN CAST(c.Company   AS SQL_VARIANT)
                                                      WHEN 'Title'     THEN CAST(c.Title     AS SQL_VARIANT)
                                                  END )
        )
        OR
        ( -- Same value in sort column → use ID tie-breaker
          CAST(@LastOrderValue AS SQL_VARIANT) = CASE @OrderByColumn
                                                     WHEN 'ID'        THEN CAST(c.ID        AS SQL_VARIANT)
                                                     WHEN 'FirstName' THEN CAST(c.FirstName AS SQL_VARIANT)
                                                     WHEN 'LastName'  THEN CAST(c.LastName  AS SQL_VARIANT)
                                                     WHEN 'Email'     THEN CAST(c.Email     AS SQL_VARIANT)
                                                     WHEN 'Company'   THEN CAST(c.Company   AS SQL_VARIANT)
                                                     WHEN 'Title'     THEN CAST(c.Title     AS SQL_VARIANT)
                                                 END
          AND
          ((@SortDirection = 'DESC' AND c.ID < @LastID)
           OR
           (@SortDirection = 'ASC'  AND c.ID > @LastID))
        ))
  ORDER BY
     CASE WHEN @SortDirection = 'DESC' THEN
             CASE @OrderByColumn
                 WHEN 'ID'        THEN CAST(c.ID        AS SQL_VARIANT)
                 WHEN 'FirstName' THEN CAST(c.FirstName AS SQL_VARIANT)
                 WHEN 'LastName'  THEN CAST(c.LastName  AS SQL_VARIANT)
                 WHEN 'Email'     THEN CAST(c.Email     AS SQL_VARIANT)
                 WHEN 'Company'   THEN CAST(c.Company   AS SQL_VARIANT)
                 WHEN 'Title'     THEN CAST(c.Title     AS SQL_VARIANT)
             END
         END DESC
    ,CASE WHEN @SortDirection = 'ASC' THEN
         CASE @OrderByColumn
             WHEN 'ID'        THEN CAST(c.ID        AS SQL_VARIANT)
             WHEN 'FirstName' THEN CAST(c.FirstName AS SQL_VARIANT)
             WHEN 'LastName'  THEN CAST(c.LastName  AS SQL_VARIANT)
             WHEN 'Email'     THEN CAST(c.Email     AS SQL_VARIANT)
             WHEN 'Company'   THEN CAST(c.Company   AS SQL_VARIANT)
             WHEN 'Title'     THEN CAST(c.Title     AS SQL_VARIANT)
         END
     END ASC
    ,C.ID DESC  -- Stable tie-breaker
  OFFSET 0 ROWS
  FETCH NEXT CASE WHEN @ApplyPagination = 1 THEN @PageSize ELSE 2147483647 END ROWS ONLY  -- Large number = effectively no limit

  -- Determine if there are more rows and set OUTPUT anchor values
  DECLARE @ReturnedRows INT = (SELECT COUNT(*) FROM @Results);

  IF @ReturnedRows > 0
  BEGIN
    -- Get the last row (highest RowNum) to use as next anchor
    SELECT 
       @NextLastID = ID
      ,@NextLastOrderValue = OrderValue
    FROM 
      @Results
    WHERE 
      RowNum = @ReturnedRows;

    -- If we returned exactly the page size, assume there might be more
    IF @ApplyPagination = 1 AND @ReturnedRows = @PageSize
      SET @HasMoreRows = 1;
    ELSE
      SET @HasMoreRows = 0;
  END

  -- Return the actual data (without internal columns)
  SELECT 
     ID
    ,FirstName
    ,LastName
    ,Email
    ,Company
    ,Title
  FROM 
    @Results
  ORDER BY 
    RowNum;  -- Preserves original order
END;
GO