-------------------------------------------------
CREATE OR ALTER PROCEDURE ContactGetAllWithKeysetPagination
   @PageSize        AS INT          = 0 -- <= 0 means return all (no limit, no keyset filter)
  ,@OrderByColumn   AS NVARCHAR(50) = 'ID'
  ,@SortDirection   AS CHAR(4)      = 'DESC'
  ,@LastID          AS INT          = NULL
  ,@LastOrderValue  AS SQL_VARIANT  = NULL
AS
BEGIN
  SET NOCOUNT ON;

  -- Normalize inputs
  IF @SortDirection NOT IN ('ASC', 'DESC') 
    SET @SortDirection = 'DESC';
  
  IF @OrderByColumn NOT IN ('ID', 'FirstName', 'LastName', 'Email', 'Company', 'Title')
    SET @OrderByColumn = 'ID';

  DECLARE @ApplyPagination BIT = CASE WHEN @PageSize > 0 THEN 1 ELSE 0 END;

  -- Main query
  SELECT 
    ID, FirstName, LastName, Email, Company, Title
  FROM 
    (SELECT 
       ID, FirstName, LastName, Email, Company, Title
       -- Compute the ordering value once
      ,CASE @OrderByColumn
          WHEN 'ID'        THEN CAST(ID         AS SQL_VARIANT)
          WHEN 'FirstName' THEN CAST(FirstName  AS SQL_VARIANT)
          WHEN 'LastName'  THEN CAST(LastName   AS SQL_VARIANT)
          WHEN 'Email'     THEN CAST(Email      AS SQL_VARIANT)
          WHEN 'Company'   THEN CAST(Company    AS SQL_VARIANT)
          WHEN 'Title'     THEN CAST(Title      AS SQL_VARIANT)
       END AS OrderValue
     FROM 
       dbo.Contact
     WHERE 
       @ApplyPagination = 0
       OR (@LastID IS NULL)
       OR (-- Keyset condition
           (CAST(@LastOrderValue AS NVARCHAR(4000)) > CAST(CASE @OrderByColumn
                                                               WHEN 'ID'        THEN CAST(ID         AS SQL_VARIANT)
                                                               WHEN 'FirstName' THEN CAST(FirstName  AS SQL_VARIANT)
                                                               WHEN 'LastName'  THEN CAST(LastName   AS SQL_VARIANT)
                                                               WHEN 'Email'     THEN CAST(Email      AS SQL_VARIANT)
                                                               WHEN 'Company'   THEN CAST(Company    AS SQL_VARIANT)
                                                               WHEN 'Title'     THEN CAST(Title      AS SQL_VARIANT)
                                                           END AS NVARCHAR(4000)) AND @SortDirection = 'DESC')
           OR
           (CAST(@LastOrderValue AS NVARCHAR(4000)) < CAST(CASE @OrderByColumn
                                                               WHEN 'ID'        THEN CAST(ID         AS SQL_VARIANT)
                                                               WHEN 'FirstName' THEN CAST(FirstName  AS SQL_VARIANT)
                                                               WHEN 'LastName'  THEN CAST(LastName   AS SQL_VARIANT)
                                                               WHEN 'Email'     THEN CAST(Email      AS SQL_VARIANT)
                                                               WHEN 'Company'   THEN CAST(Company    AS SQL_VARIANT)
                                                               WHEN 'Title'     THEN CAST(Title      AS SQL_VARIANT)
                                                           END AS NVARCHAR(4000)) AND @SortDirection = 'ASC')
           OR
           (CAST(@LastOrderValue AS NVARCHAR(4000)) = CAST(CASE @OrderByColumn
                                                               WHEN 'ID'        THEN CAST(ID         AS SQL_VARIANT)
                                                               WHEN 'FirstName' THEN CAST(FirstName  AS SQL_VARIANT)
                                                               WHEN 'LastName'  THEN CAST(LastName   AS SQL_VARIANT)
                                                               WHEN 'Email'     THEN CAST(Email      AS SQL_VARIANT)
                                                               WHEN 'Company'   THEN CAST(Company    AS SQL_VARIANT)
                                                               WHEN 'Title'     THEN CAST(Title      AS SQL_VARIANT)
                                                           END AS NVARCHAR(4000)) AND ((@SortDirection = 'DESC' AND ID < @LastID) 
                                                                                       OR
                                                                                       (@SortDirection = 'ASC'  AND ID > @LastID))))
    ) AS Filtered
  ORDER BY
     CASE WHEN @SortDirection = 'DESC' THEN OrderValue END DESC
    ,CASE WHEN @SortDirection = 'ASC'  THEN OrderValue END ASC
    ,ID DESC
  OFFSET 0 ROWS
  FETCH NEXT CASE WHEN @ApplyPagination = 1 THEN @PageSize ELSE 2147483647 END ROWS ONLY  -- Large number = effectively no limit
  OPTION (RECOMPILE);
END
